<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">多读</a>
        </div>
    </div>
    <!-- process steps -->
    <div class="container">
      <progress value="" max="100" id="progress"></progress>
    </div>
</nav>
