<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">多读</a>
        </div>

        <div class="container">
          <!-- process steps -->
          <div class="progress">
              <div class="progress-bar"></div>
          </div>        
      </div>
    </div>
</nav>
